<div class="page-container">
  <aside class="menu-sidebar mt-5 d-none d-lg-block">
    <app-product-category-menu></app-product-category-menu>
  </aside>


  <div class="main-content">
    <div class="section-content section-content-p35">
      <div class="container-fluid">

        <div  *ngFor="let product of products" class="" style="max-width: 100%;">
          <div  class="card mb-3">
            <div class="row no-gutters">
              <a routerLink="/products/{{product.id}}" class="col-md-4">
                <img src="{{product.imageUrl}}">
              </a>
              <div class="col-md-8">
                <div class="card-body mt-5">
                  <div class="card-title">{{product.name}}</div>
                  <div class="price">{{product.unitPrice | currency:'USD'}}</div>
                </div>

                <button (click)="addToCart(product)" class="btn btn-warning mt-xl-5 m-3">Add to cart</button>
                <button  routerLink="/products/{{product.id}}" class="btn m-3  mt-xl-5 btn-primary">Details</button>

              </div>
            </div>
          </div>

          <hr>



          <div *ngIf="products?.length==0" role="alert" class="alert alert-warning col-md-12">
            No Products found.
          </div>
        </div>


        <mat-paginator [length]="theTotalElements"
                       [pageSize]="thePageSize"
                       [pageSizeOptions]="[ 5, 10, 25, 50]"
                       [pageIndex]="thePageNumber"
                       (page)="pageEvent=loadServerData($event)"
                       aria-label="Select page">
        </mat-paginator>

      </div>
    </div>
  </div>

</div>
