<div class="page-container">
  <aside class="menu-sidebar mt-5 d-none d-lg-block">
    <app-product-category-menu></app-product-category-menu>
  </aside>


  <div class="main-content">
    <div class="section-content section-content-p35">

        <div class="details-section">
          <div class="container-fluid">
            <img src="{{product?.imageUrl}}" class="detail-img">
            <h1 class="mt-2">{{product?.name}}</h1>
            <div class="price">
              {{product?.unitPrice | currency:'USD'}}
            </div>
            <button (click)="addToCart(product)" class="btn btn-warning btn-sm mt-4">Add to cart</button>
            <hr>
            <h2>Description</h2>
            <p>{{product?.description}}</p>

            <a class="back-button" routerLink="/products" class="mt-5"><i class="fa-solid fa-arrow-left"></i> &nbsp; Back to Product List</a>

          </div>
        </div>

      </div>
  </div>
</div>
